/* 全体 */
.purchase-container {
    width: 1000px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

/* 左右カラム */
.purchase-left {
    width: 60%;
}

.purchase-right {
    width: 35%;
}

/* 商品情報 */
.product-box {
    display: flex;
    gap: 20px;
}

.product-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    background: #333;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
}

.product-price {
    font-size: 16px;
    margin-top: 8px;
}

.section-title {
    font-weight: bold;
    margin-bottom: 10px;
}

hr {
    margin: 24px 0;
    border: none;
    border-top: 1px solid #333;
}

select {
    width: 300px;
    height: 36px;
    padding: 0 36px 0 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    background-image:
        linear-gradient(45deg, transparent 50%, #000 50%),
        linear-gradient(135deg, #000 50%, transparent 50%);
    background-position:
        calc(100% - 18px) 14px,
        calc(100% - 12px) 14px;
    background-size: 6px 6px;
    background-repeat: no-repeat;
}

.address-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address-box {
    padding-bottom: 24px;
    border-bottom: 1px solid #333;
}

.address-box>p {
    margin-left: 60px;
}

.change-link {
    color: #007bff;
    font-size: 14px;
    text-decoration: none;
}

.summary-box {
    border: 1px solid #333;
    width: 100%;
}

.summary-section {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
    font-size: 16px;
}

.summary-section+.summary-section {
    border-top: 1px solid #333;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.purchase-button {
    margin-top: 40px;
    width: 100%;
    height: 48px;
    background: #ff5a5a;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
}